* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 450px;
  background-image: url("https://static.pexels.com/photos/164732/pexels-photo-164732.jpeg");
  background-size: cover;
}

@media all and (max-width: 600px) {
    header {height: 300px;}
}

header h1 {
  font-size: 100px;
  font-weight: bolder;
  color: white;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
}

@media all and (max-width: 600px) {
    header h1 {font-size: 70px;}
}

@media all and (max-width: 415px) {
    header h1 {font-size: 40px;}
}

nav {
  text-align: center;
  margin-top: 10px;
}

nav a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
}

nav a:hover {
    color: yellow;
}

nav .mid {
  margin-left: 20px;
}

h2 {
  font-size: 16px;
  text-align: center;
  padding-top: 100px;
  text-transform: uppercase;
  font-weight: bolder;
}

#developer img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding: 30px;
}

#developer p {
    text-align: center;
    margin: 0 10%;
}

button a {
    text-decoration: none;
    color: black;
}

#dj, #actor {
    background-color: #f2f2f2;
    margin-top: 100px;
    height: auto;
    overflow: hidden;
    padding-bottom: 40px;
}

#dj h2, #actor h2 {
    padding-top: 50px;
}

#dj p, #actor p {
    text-align: center;
    padding: 30px;
}

button {
    display: block;
    margin: 30px auto;
    padding: 5px 20px;
    border-radius: 20%;
    font-size: 14px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 4px grey;
}

#soundcloud_left {
    width: 40%;
    float: left;
    margin-left: 8%;
}

#soundcloud_right {
    width: 40%;
    float: right;
    margin-right: 8%;
}

#writer p {
    text-align: center;
    padding: 30px;
}

#writer a {
    text-decoration: none;
    color: black;
}

#writer a:hover {
    color: red;
}

table {
    margin: 0 auto;
}

td {
    padding: 5px 30px;
}

#actor {
    padding-bottom: 100px;
}

#actor div {
    width: 50%;
    height: 500px;
}

#martian {
    float: left;
}

#gafas {
    float: right;
}

#bofetada {
    float: left;
}

#corn {
    float: right;
}

#actor iframe {
	width: 85%;
	height: 85%;
    display: block;
    margin: auto;
}

footer {
  height: 100px;
  background-image: url("https://static.pexels.com/photos/164732/pexels-photo-164732.jpeg");
  background-size: cover;
  clear: both;
  overflow: hidden;
}

footer nav {
  padding: 20px 0;
  margin-top: 0;
}

@media all and (max-width: 350px) {
    footer nav {padding: 10px 0;}
}

footer p {
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
}
