body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  margin-right: 40px;
  height: 80vh;
  width: 250px;
}

h1 {
  font-family: "Brush Script MT", cursive;
  font-size: 40px;
  margin: 5px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 5px;
}

a:hover {
  background: grey;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mixcloud {
  height: 38px;
  width: 38px;
}

.social-icon {
  height: 27px;
  width: 27px;
}

.logo {
  height: 120px;
  width: 220px;
  display: block;
  margin: auto;
}

.klist {
  height: 80vh;
  width: 40vw;
}


@media (max-width: 700px) {
  body {
    flex-direction: column;
  }
  aside {
    height: 280px;
    margin: 0;
  }
  .klist {
    height: 60vh;
    width: 80vw;
  }
}

@media (max-height: 580px) {
  h1 {
    margin: 0;
  }
  .logo {
    height: 95px;
    margin-top: 5px;
  }
  .social-container {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .klist {
    height: 65vh;
  }
}
